<div ng-repeat="(key, alert) in aletrsList.alerts" style="margin-top: 24px;">
    <div class="card" style="border-radius: 0px">
        <div class="card-header text-center" style="font-size: 22px;">
            Alerta {{key + 1}}
            <i ng-click="removeAlert(key)" class="fas fa-times" style="cursor: pointer; float: right; font-size: 18px;"></i>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="afterOrBeforeVal-{{key}}">
                    D&iacute;as antes:
                </label>
                <div class="col-sm-3">
                    <input type="text"
                            id="afterOrBeforeVal-{{key}}"
                            name="afterOrBeforeVal-{{key}}"
                            class="form-control"
                            ng-required="true"
                            ng-change="afterOrBefore(key, afterOrBeforeVal[key], afterBeforeSelected)"
                            ng-model="afterOrBeforeVal[key]"
                            ng-class="{
                                        'is-valid': afterOrBeforeVal[key]
                                    }">
                    <span class="fa-exclamation-triangle required" 
                        ng-show="!afterOrBeforeVal[key]"></span>

                </div>


                <label class="col-sm-2 col-form-label" for="afterBeforeSelected">
                    De la:
                </label>
                <div class="col-sm-3">
                    <select type="text"
                            id="afterBeforeSelected"
                            name="afterBeforeSelected"
                            class="form-control custom-select"
                            ng-change="afterOrBefore(key, afterOrBeforeVal[key], afterBeforeSelected)"
                            ng-model="afterBeforeSelected"
                            ng-required="true">
                        <option value="1">Fecha de Inicio</option>
                        <option value="2">Fecha de Fin</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="titleEvent">
                    En estado:
                </label>
                <div class="form-check col-sm-3 row" style="margin-left: 15px;">
                    <div ng-repeat="(keyStatus, status) in statusList" class="row">
                        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0 daysCheck" style="margin-top: 5px;">
                            <input id="{{status.id}}-{{key}}" 
                                    type="checkbox" 
                                    class="custom-control-input ng-valid ng-dirty ng-touched" 
                                    ng-model="check"
                                    ng-click="pushStatus(key, check, status.id)">
                            <span class="custom-control-indicator"></span>
                        </label>
                        <label class="col-sm-19 col-form-label daysLabel" for="{{status.id}}-{{key}}" ng-bind="status.description"></label>
                    </div>
                </div>

                <label class="col-sm-2 col-form-label" for="titleEvent">
                    Momento del dia:
                </label>
                <div class="col-sm-3">
                    <select type="text"
                            id="account"
                            name="account"
                            class="form-control custom-select"
                            ng-model="accounts"
                            ng-required="true">
                        <option value="dateStart">MEDIO DIA</option>
                        <option value="dateEnd">TARDE</option>
                    </select>
                </div>                                  
            </div>
        </div>
    </div>
</div>
<div ng-click="addAlert()" class="clearfix btnPlusLong">
    <div style="cursor: pointer;">
        <i class="fas fa-plus"></i>
    </div>
</div>